:root {
  --color-dark-blue: #081620;

  --color-text-light: #c4c7c9;
  --color-text-light-1: #a6abaf;
  --color-text-light-2: #7a8186;

  --color-light-blue: #c8dbe4;

  --color-turquoise: #4ecdc4;

  --color-coral: #ff6b6b;
}

body {
  font-family: 'Courier Prime', monospace;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
  font-size: 62.5%;
  color: var(--color-text-light);
  background-color: var(--color-dark-blue);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background-image is set in Javascript onload */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  opacity: 0.9;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  opacity: 0.9;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
  opacity: 0.9;
  margin-bottom: 1.8rem;
}

a {
  color: inherit;
}
a:hover {
  color: var(--color-text-light-2);
}

section {
  margin-bottom: 4rem;
}

.page-container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.site__navigation {
  position: absolute;
  top: 0;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
}
.site__navigation-open,
.site__navigation-close {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background: none;
  outline: none;
  border: none;

  display: none;
}

.site__navigation ul {
  list-style: none;
  display: flex;
  width: 100%;
}

.site__navigation ul li a {
  text-decoration: none;
}

.site__navigation ul li:not(:last-child) {
  margin-right: 2.4rem;
}

.site__navigation-close-symbol,
.site__navigation-open-symbol {
  display: block;
  position: relative;
  height: 2rem;
  width: 2rem;
}
.site__navigation-open-symbol::before,
.site__navigation-open-symbol::after,
.site__navigation-close-symbol::before,
.site__navigation-close-symbol::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 3px;
  border-radius: 20px;
  background-color: var(--color-text-light-1);
}
.site__navigation-open-symbol::after {
  top: 10px;
  width: 1.5rem;
}
.site__navigation-close-symbol::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.site__navigation-close-symbol::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.page-container main {
  padding-top: 12rem;
}

.project:first-child {
  margin-top: 3rem;
}
.project:not(:last-child) {
  margin-bottom: 6rem;
}

.project__name-link {
  text-decoration: none;
  color: inherit;
}
.project__name {
  margin-bottom: 1rem;
}
.project__details p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.project__links a {
  font-size: 1.4rem;
}
.project__links a:not(:last-child) {
  margin-right: 2rem;
}

.contact__channel-list {
  list-style: none;
  margin: 0;
  font-size: 1.8rem;
}
.contact__channel-item {
  display: flex;
  align-items: center;
}
.contact__channel-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.contact__channel-item a {
  margin-left: 1rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.65rem;
  }
  p {
    font-size: 1.35rem;
  }

  .site__navigation-open,
  .site__navigation-close {
    display: block;
  }

  .site__navigation {
    width: 100%;
    background-color: var(--color-dark-blue);
    left: 0;
    padding: 5rem 1.5rem 2.5rem 1.5rem;
    z-index: 100;
    transform: translateY(-100%);
    transition: all 0.65s;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    font-size: 1.4rem;
  }
  .site__navigation.open {
    transform: translateY(0);
  }

  .site__navigation ul {
    flex-direction: column;
  }

  .site__navigation ul li:not(:last-child) {
    margin-right: none;
    margin-bottom: 1.5rem;
  }

  .page-container main {
    padding-top: 6rem;
  }

  .project__details p {
    font-size: 1.05rem;
  }
  .project__links a {
    font-size: 1.05rem;
  }

  .contact__channel-list {
    font-size: 1.4rem;
  }
  .contact__channel-item i {
    font-size: 1.6rem;
  }
  .contact__channel-item a {
    margin-left: 0.75rem;
  }
}
