:root {
  --color-dark-blue: #081620;

  --color-text-light: #c4c7c9;
  --color-text-light-1: #a6abaf;
  --color-text-light-2: #7a8186;

  --color-light-blue: #c8dbe4;

  --color-turquoise: #4ecdc4;

  --color-coral: #ff6b6b;
}

body {
  font-family: 'Courier Prime', monospace;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
  font-size: 62.5%;
  color: var(--color-text-light);
  background-color: var(--color-dark-blue);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background-image is set in Javascript onload */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  opacity: 0.85;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  opacity: 0.85;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
  opacity: 0.85;
  margin-bottom: 1.8rem;
}

a {
  color: inherit;
}
a:hover {
  color: var(--color-text-light-2);
}

section {
  margin-bottom: 4rem;
}

.page-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.site__navigation {
  position: absolute;
  top: 0;
  padding-top: 1.8rem;
  font-size: 1.1rem;
  font-style: italic;
  text-transform: uppercase;
}

.site__navigation ul {
  list-style: none;
  display: flex;
  width: 100%;
}

.site__navigation ul li a {
  text-decoration: none;
}

.site__navigation ul li:not(:last-child) {
  margin-right: 2.4rem;
}

.page-container main {
  padding-top: 12rem;
}

.project:first-child {
  margin-top: 3rem;
}
.project:not(:last-child) {
  margin-bottom: 6rem;
}

.project__name-link {
  text-decoration: none;
  color: inherit;
}
.project__name {
  margin-bottom: 1rem;
}
.project__details p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.project__links a {
  font-size: 1.4rem;
}
.project__links a:not(:last-child) {
  margin-right: 2rem;
}
